build
tests
doc
*.log
*.tmp
.vscode
.github
.node-version
jsconfig.json
playwright.config.js
pkg
vite.config.mts
dist
netlify.toml
.last-run.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
