name: CI
on:
  push:
    branches:
      - master
      - next
  pull_request:
    branches:
      - master
      - next
permissions:
  contents: read
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        browser:
          - chrome
          - firefox
        node-version:
          - 22.6.0
        firefox:
          - latest
    steps:
      - uses: browser-actions/setup-firefox@latest
        with:
          firefox-version: ${{ matrix.firefox }}
      - uses: actions/checkout@v4.1.7
      - uses: actions/setup-node@v4.0.3
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
          cache-dependency-path: package-lock.json
      - run: npm cit
        env:
          BROWSER: ${{ matrix.browser }}
      - uses: actions/upload-artifact@v4
        with:
          name: screenshots-${{ matrix.browser }}
          path: ${{ github.workspace }}/build/test/**/*
          retention-days: 3
        if: always()
      - name: checkout
        uses: actions/checkout@v4.1.7
      - name: prepare node
        uses: actions/setup-node@v4.0.3
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
          cache-dependency-path: package-lock.json
      - name: npm install
        run: npm cit
        env:
          BROWSER: ${{ matrix.browser }}
      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: screenshots-${{ matrix.browser }}
          path: ${{ github.workspace }}/build/test/**/*
          retention-days: 3
        if: always()
  release:
    needs:
      - test
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - name: Dependencies
        run: >
          if [ ! -f /usr/bin/pacman ]

          then

          sudo apt-get update

          sudo apt-get install ksh curl

          wget
          https://github.com/ThePoorPilot/pacman-utils/releases/download/5.2.2-3_2.31-0/pacman-utils_5.2.2-3_amd64.deb

          sudo apt-get install -f ./pacman-utils_5.2.2-3_amd64.deb

          fi
      - uses: actions/checkout@v4.1.7
      - uses: actions/setup-node@v4.0.3
        with:
          node-version: 22.6.0
          cache: npm
          cache-dependency-path: package-lock.json
      - run: npm ci
      - run: npx semantic-release
        env:
          CI: "true"
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PKGBUILD_PUBLISH: ${{ secrets.PKGBUILD_PUBLISH }}
          PKGEXT: .pkg.tar.xz
      - name: install dependencies
        run: >
          if [ ! -f /usr/bin/pacman ]

          then

          sudo apt-get update

          sudo apt-get install ksh curl

          wget
          https://github.com/ThePoorPilot/pacman-utils/releases/download/5.2.2-3_2.31-0/pacman-utils_5.2.2-3_amd64.deb

          sudo apt-get install -f ./pacman-utils_5.2.2-3_amd64.deb

          fi
      - name: checkout
        uses: actions/checkout@v4.1.7
      - name: prepare node
        uses: actions/setup-node@v4.0.3
        with:
          node-version: 22.6.0
          cache: npm
          cache-dependency-path: package-lock.json
      - name: install
        run: npm ci
      - name: release
        run: npx semantic-release
        env:
          CI: "true"
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PKGBUILD_PUBLISH: ${{ secrets.PKGBUILD_PUBLISH }}
          PKGEXT: .pkg.tar.xz
