name: CI
'on': push
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        node:
          - 18.7.0
        browser:
          - chrome
          - firefox
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.4.1
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - run: npm cit
        env:
          BROWSER: ${{ matrix.browser }}
      - uses: actions/upload-artifact@v3
        with:
          name: screenshots
          path: ${{ github.workspace }}/build/test/**/*
          retention-days: 3
        if: always()
  release:
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - name: Dependencies
        run: >
          sudo apt-get update

          sudo apt-get install ksh curl

          wget
          https://github.com/ThePoorPilot/pacman-utils/releases/download/5.2.2-3_2.31-0/pacman-utils_5.2.2-3_amd64.deb

          sudo apt-get install -f ./pacman-utils_5.2.2-3_amd64.deb
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.4.1
        with:
          node-version: 18.7.0
          cache: npm
      - run: npm ci
      - run: npx semantic-release
        env:
          CI: 'true'
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PKGBUILD_PUBLISH: ${{ secrets.PKGBUILD_PUBLISH }}
