name: CI
on:
  push:
    branches:
      - master
      - next
  pull_request:
    branches:
      - master
      - next
permissions:
  contents: read
  id-token: write
jobs:
  test-node:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      matrix:
        os:
          - ubuntu-latest
        node-version:
          - 24.13.0
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1
      - name: prepare node
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: install
        run: npm ci
      - name: install playwright
        run: npx playwright install --with-deps
      - name: install npm
        run: npm cit
      - name: test and coverage
        run: npm run cover --if-present
      - name: upload test report
        uses: actions/upload-artifact@v6
        with:
          name: test-report
          path: ${{ github.workspace }}/playwright-report/**/*
          retention-days: 30
        if: ${{ !cancelled() }}
      - name: coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: run-${{ matrix.test_number }}
          path-to-lcov: build/coverage/lcov.info
          parallel: true
        continue-on-error: true
  release:
    needs:
      - test-node
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1
      - name: prepare node
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24.13.0
      - name: install
        run: npm ci
      - name: install dependencies
        run: |
          if [ ! -f /usr/bin/pacman ]
          then
          sudo apt-get update
          sudo apt-get install ksh
          sudo apt-get -y install makepkg
          fi
      - name: release
        run: npx semantic-release
        env:
          CI: "true"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PKGBUILD_PUBLISH: ${{ secrets.PKGBUILD_PUBLISH }}
          PKGEXT: .pkg.tar.xz
